@import 'reset';

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.widgetapp{
  border: 1px solid #e1e3e7;
  border-radius: 10px;
  width: 600px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 25px 25px 20px;
}

.detail{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 18px;
  color: #9C9290;

  &__main{
    &__city{
      font-size: 30px;
      color: #878787;
      margin-bottom: 10px;
    }

    &__time{
      margin: 3px 0px;
    }

    &__state{
      margin: 3px 0px;
    }

    &__resume{
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      &__icon{
        width: 70px;
      }

      &__grade{
        font-size: 60px;
        color:black;
      }
      &__units{
        &--cel{
          padding-top: 5px;
        }

        &--far{
          text-decoration: none;
          padding-top: 5px;
        }
      }
    }
  }

  &__secondary{

    &__info>h4{
      margin: 5px 0px;
    }

    &__btn{
      margin-top: 30px;

      &>button{
        background-color: #F2F2F2;
        border: 1px solid #E0E0E0;
        height: 30px;
        width: 90px;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;

        &:focus, &:active{
          background-color: #E3E3E3;
          outline: 0px;
        }
      }
      
      &--left{
        border-radius: 3px 0px 0px 3px;
      }

      &--center{
        margin: -6px;
      }

      &--right{
        border-radius: 0px 3px 3px 0px;

      }
    }
  }
}

.week{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: #CECECE;
  text-align: center;
  
  &__day{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;

    &__temperature{
      text-align: center;
      &--max{
        color: #A5A5A5;
      }
    }

    &:hover{
      box-sizing: border-box;
      border: 1px solid #ECECEC;
      background-color: #FCFCFC;
      transition: 1s;
    }
  }
}

@media  only screen and (max-width: 700px){
  .widgetapp{
    height: auto;
    text-align: center;
    border: none;
  }

  .detail{
    &__main{
      width: 100%;

      &__resume{
        justify-content: center;
      }
    }

    &__secondary{
      border-width: 1px 0px 1px 0px;
      border-color: #959595;
      border-style: solid;
      padding: 20px 0px;
      width: 100%;
    }
  }

  .week{
    padding-top: 30px;
  }
}